/* Common  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}

/* custom styles  */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  gap: 30px;
  margin: 50px auto;
}

.banner-left {
  padding-left: 25px;
}

.banner h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}

.banner-right img {
  display: block;
}
