/* Common  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}
img {
  max-width: 100%;
}

/* Animation  */
@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }
  5% {
    color: orange;
  }
  50% {
    opacity: 0.5;
    color: yellow;
    transform: translate(-10ox);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes banner-player-animation {
  0% {
    opacity: 0.5;
    transform: translate(-20px);
  }
  50% {
    opacity: 0.7;
    transform: translate(-10ox);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

/* custom styles  */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  gap: 30px;
  margin: 50px auto;
  animation: banner-animation 1s ease-in forwards;
}

.banner-left {
  padding-left: 25px;
  flex: 1;
}
.banner-right {
  flex: 1;
}

.banner h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}

.banner-right img {
  display: block;
  animation: banner-player-animation 1s ease-in forwards;
}

/* Upcoming Matches */
.upcoming-matches {
  display: flex;

  gap: 20px;
}

.upcoming-matches .card .card-body {
  padding: 20px;
}
.upcoming-matches-left {
  background-color: black;
  /* flex-grow: 1; */
  width: 25%;
  /* flex-basis: 700; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  height: fit-content;
}
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}
.upcoming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
.upcoming-matches-right .card {
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 10px;
}

.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 17px;
  margin-top: 10px;
}
.upcoming-matches-right .card h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}
.card-bottom {
  display: flex;
  gap: 20px;
}

/* laptop or tab  */

@media (max-width: 992px) {
  /* banner */
  .banner h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
  }

  /* Upcoming Matches */
  /* container */
  .container {
    margin: 0 20px;
  }

  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid rgba(232, 232, 232);
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* container */
  .container {
    margin: 0 16px;
  }
  /* banner */
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-left p {
    /* max-width: 100%; */
    margin: 15px auto;
  }
  .banner-left {
    padding: 0;
    padding-top: 30px;
  }

  /* Upcoming Matches */
  .upcoming-matches-right {
    grid-template-columns: repeat(1, 1fr);
  }
}
