/* Common  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}

/* custom styles  */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  gap: 30px;
  margin: 50px auto;
}

.banner-left {
  padding-left: 25px;
}

.banner h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}

.banner-right img {
  display: block;
}

/* Upcoming Matches */
.upcoming-matches {
  display: flex;

  gap: 20px;
}

.upcoming-matches .card .card-body {
  padding: 20px;
}
.upcoming-matches-left {
  background-color: black;
  /* flex-grow: 1; */
  width: 25%;
  /* flex-basis: 700; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  height: fit-content;
}
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}
.upcoming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
.upcoming-matches-right .card {
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 10px;
}

.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 17px;
  margin-top: 10px;
}
.upcoming-matches-right .card h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}
.card-bottom {
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid rgba(232, 232, 232);
  }
}
